{% extends 'base.html' %}
{% block title %}Articles {% endblock %}
{% block content %}
{% if user.is_authenticated%}
{% for article in object_list %}
<div class="card">
<div class="card-header">
<span class="font-weight-bold">{{ article.title }}</span> &middot;
<span class="text-muted">by {{article.author }} I {{article.date }}
</span>
</div>
<div class="card-body">
<p> {{article.body }}</p>
<a href="{% url 'article_edit' article.pk %}">Edit</a> I
<a href="{% url 'article_delete' article.pk %}">Delete</a>
</div>
<div class="card-footer">
{% for comment in article.comments.all %}
<p><span class="font-weight-bold">{{ comment.author }}&nbsp&middot;</span>&nbsp{{comment.comment}}</p>
{% endfor %}
</div>
</div>
{% endfor %}
{% else %}
{% for article in object_list %}
<div class="card">
    <div class="card-header">
    <span class="font-weight-bold">{{ article.title }}</span> &middot;
    <span class="text-muted">by {{article.author }} I {{article.date }}
    </span>
    </div>
    <div class="card-body">
    <p> {{article.body }}</p>
    </div>
    <div class="card-footer">
    {% for comment in article.comments.all %}
    <p><span class="font-weight-bold">{{ comment.author }}&nbsp&middot;</span>&nbsp{{comment.comment}}</p>
    {% endfor %}
    </div>
    </div>
    <div>&nbsp</div>
    {% endfor %}
<br />
{% endif %}
{% endblock content %}